local-env/flows.json
[
    {
        "id": "6c6e63a00c517697",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "abafb1d456037c1e",
        "type": "fabric-peer",
        "name": "Peer 1",
        "url": "nodered-testpeer-api.127-0-0-1.nip.io:9999",
        "grpcOptions": "{\n    \"grpc.default_authority\": \"nodered-testpeer-api.127-0-0-1.nip.io:9999\",\n    \"grpc.ssl_target_name_override\": \"nodered-testpeer-api.127-0-0-1.nip.io\"\n}"
    },
    {
        "id": "6d028d5a40c2b6e8",
        "type": "fabric-mspid",
        "name": "Node Red Test MSP",
        "mspId": "noderedtestMSP"
    },
    {
        "id": "351176dfd3b410a7",
        "type": "fabric-gateway",
        "name": "GW",
        "mspIdSelectorGw": "6d028d5a40c2b6e8",
        "peerSelectorGw": "abafb1d456037c1e"
    },
    {
        "id": "4c5c4259b27b7979",
        "type": "fabric-identity",
        "name": "nodered-test Admin",
        "mspIdSelector": "6d028d5a40c2b6e8",
        "certType": "microfab",
        "cert": "LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUI0RENDQVlXZ0F3SUJBZ0lSQVBoMy9Qa2U3NGZIK0hPZFB3NE5EcXN3Q2dZSUtvWkl6ajBFQXdJd0dqRVkKTUJZR0ExVUVBeE1QYm05a1pYSmxaQzEwWlhOMElFTkJNQjRYRFRJek1EY3dOVEUwTlRjMU1Gb1hEVE16TURjdwpNakUwTlRjMU1Gb3dMVEVPTUF3R0ExVUVDeE1GWVdSdGFXNHhHekFaQmdOVkJBTVRFbTV2WkdWeVpXUXRkR1Z6CmRDQkJaRzFwYmpCWk1CTUdCeXFHU000OUFnRUdDQ3FHU000OUF3RUhBMElBQkxiQ040VnBDOER3dGxiL1N4ZlAKa2RTZkE3NDc3NURXampSNlpsWkQvS0F2aHhodXRXcWp0MmJJWDFHb2hrYVdpYnNwM1ZRWDJiUWRYVVBPVWVLQworSUtqZ1pnd2daVXdEZ1lEVlIwUEFRSC9CQVFEQWdXZ01CMEdBMVVkSlFRV01CUUdDQ3NHQVFVRkJ3TUNCZ2dyCkJnRUZCUWNEQVRBTUJnTlZIUk1CQWY4RUFqQUFNQ2tHQTFVZERnUWlCQ0FzZFhQbU5UU0JMVmxYZFMvMlFDQXgKOXo1V0cxMzBDeWVvV3c5YU5ZcFpwekFyQmdOVkhTTUVKREFpZ0NESTF3WllvZkltUTNqRmRRNWFKUXRnMmd1NwpkZUp6Sk10VXUybitMWFp3U2pBS0JnZ3Foa2pPUFFRREFnTkpBREJHQWlFQWxqejJLczgvSS9ydWNDWmtHZjZCCmtSK0RXc0x3ZStCY09qYUtCN0ZoUTMwQ0lRREdUUXh0a1RYK0MzYXA1MWJCajJ3KzNhNFZ2YVlPb0Mwb0t2dTAKaDBQUmRBPT0KLS0tLS1FTkQgQ0VSVElGSUNBVEUtLS0tLQo=",
        "privateKey": "LS0tLS1CRUdJTiBQUklWQVRFIEtFWS0tLS0tCk1JR0hBZ0VBTUJNR0J5cUdTTTQ5QWdFR0NDcUdTTTQ5QXdFSEJHMHdhd0lCQVFRZ1lKdzhBbVY4ZTBFZEV1VzUKeWQ0UHVNR3VKV25kenYvaGtjOTBGNXl3Vjl5aFJBTkNBQVMyd2plRmFRdkE4TFpXLzBzWHo1SFVud08rTysrUQoxbzQwZW1aV1EveWdMNGNZYnJWcW83ZG15RjlScUlaR2xvbTdLZDFVRjltMEhWMUR6bEhpZ3ZpQwotLS0tLUVORCBQUklWQVRFIEtFWS0tLS0tCg==",
        "ca": "LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUJvVENDQVVhZ0F3SUJBZ0lSQVBKUTR4K1dtbkpLTXZCLzU4T0lRd2N3Q2dZSUtvWkl6ajBFQXdJd0dqRVkKTUJZR0ExVUVBeE1QYm05a1pYSmxaQzEwWlhOMElFTkJNQjRYRFRJek1EY3dOVEUwTlRjMU1Gb1hEVE16TURjdwpNakUwTlRjMU1Gb3dHakVZTUJZR0ExVUVBeE1QYm05a1pYSmxaQzEwWlhOMElFTkJNRmt3RXdZSEtvWkl6ajBDCkFRWUlLb1pJemowREFRY0RRZ0FFaURheGdQK1BQSVc1a2txM3V5VXlrcWZHWGlWTjJWaUU0aHFWQVBCKzFDYkQKYzFhVy9tUElCaUtaWXZQclZFV3lZVUNyV055TldzOHBMVHdWOGpuaGthTnRNR3N3RGdZRFZSMFBBUUgvQkFRRApBZ0dtTUIwR0ExVWRKUVFXTUJRR0NDc0dBUVVGQndNQ0JnZ3JCZ0VGQlFjREFUQVBCZ05WSFJNQkFmOEVCVEFECkFRSC9NQ2tHQTFVZERnUWlCQ0RJMXdaWW9mSW1RM2pGZFE1YUpRdGcyZ3U3ZGVKekpNdFV1Mm4rTFhad1NqQUsKQmdncWhrak9QUVFEQWdOSkFEQkdBaUVBdWtRaFFjTDdneUVERTZHaERhb0ptS055MDJQRzlxV2RTR0NRb3grTQo2QUVDSVFESmpJd1Q5Tm4zcWFoQ2FEOVJaUk1rZ2lYaXdkMVlMVE9wQ3JFUW9RdThvZz09Ci0tLS0tRU5EIENFUlRJRklDQVRFLS0tLS0K",
        "certPath": "./config/identity.pem",
        "privateKeyPath": "./config/identity.key",
        "microfabUrl": "http://client.127-0-0-1.nip.io:9999",
        "microfabId": "nodered-testadmin"
    },
    {
        "id": "95a7c9887a800091",
        "type": "fabric-channel",
        "name": "",
        "channel": "nodered-test"
    },
    {
        "id": "5f1b46cce5ffeabb",
        "type": "fabric-contract",
        "name": "",
        "contract": "fabcar"
    },
    {
        "id": "6e8b76b1d125d156",
        "type": "fabric-block-listener",
        "z": "6c6e63a00c517697",
        "name": "Block Listener",
        "gatewaySelector": "351176dfd3b410a7",
        "identitySelector": "4c5c4259b27b7979",
        "channelSelector": "95a7c9887a800091",
        "sendTransactions": "false",
        "checkpointerPath": "./local-env/test-config/checkpointer1.ser",
        "x": 110,
        "y": 400,
        "wires": [
            [
                "b50bff98d7b19767",
                "26d8e3a82dcc4220"
            ]
        ]
    },
    {
        "id": "1118d44d3aa2895d",
        "type": "inject",
        "z": "6c6e63a00c517697",
        "name": "Inject Car",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"transactionArgs\": []}",
        "payloadType": "json",
        "x": 120,
        "y": 160,
        "wires": [
            [
                "d487177454017313"
            ]
        ]
    },
    {
        "id": "aee187ea32a2f54f",
        "type": "fabric-cc-submit",
        "z": "6c6e63a00c517697",
        "name": "Submit Car",
        "gatewaySelector": "351176dfd3b410a7",
        "identitySelector": "4c5c4259b27b7979",
        "channelSelector": "95a7c9887a800091",
        "contractSelector": "5f1b46cce5ffeabb",
        "transaction": "CreateCar",
        "args": "",
        "transientData": "[\"test\"]",
        "x": 470,
        "y": 160,
        "wires": [
            [
                "4f7463d7aa133df3"
            ]
        ]
    },
    {
        "id": "4f7463d7aa133df3",
        "type": "debug",
        "z": "6c6e63a00c517697",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 160,
        "wires": []
    },
    {
        "id": "a800c7f70cdc2c4b",
        "type": "fabric-cc-evaluate",
        "z": "6c6e63a00c517697",
        "name": "Query All Cars",
        "gatewaySelector": "351176dfd3b410a7",
        "identitySelector": "4c5c4259b27b7979",
        "channelSelector": "95a7c9887a800091",
        "contractSelector": "5f1b46cce5ffeabb",
        "transaction": "QueryAllCars",
        "args": "",
        "x": 480,
        "y": 260,
        "wires": [
            [
                "1aa3acbcccc9f71a"
            ]
        ]
    },
    {
        "id": "ac7dc754347f81fd",
        "type": "inject",
        "z": "6c6e63a00c517697",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 260,
        "wires": [
            [
                "a800c7f70cdc2c4b"
            ]
        ]
    },
    {
        "id": "d487177454017313",
        "type": "change",
        "z": "6c6e63a00c517697",
        "name": "0001HRH",
        "rules": [
            {
                "t": "set",
                "p": "payload.transaction.args",
                "pt": "msg",
                "to": "[\"0001HRH\", \"Focus\",\"Ford\",\"Red\",\"Yo\"]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 120,
        "wires": [
            [
                "aee187ea32a2f54f"
            ]
        ]
    },
    {
        "id": "dff29e2564453d83",
        "type": "change",
        "z": "6c6e63a00c517697",
        "name": "0002HRH",
        "rules": [
            {
                "t": "set",
                "p": "payload.transaction.args",
                "pt": "msg",
                "to": "[\"0002HRH\", \"Focus\",\"Ford\",\"Red\",\"Yo\"]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 140,
        "wires": [
            [
                "aee187ea32a2f54f"
            ]
        ]
    },
    {
        "id": "adcd7d91b29959df",
        "type": "fabric-block-listener",
        "z": "6c6e63a00c517697",
        "name": "Tx Listener",
        "gatewaySelector": "351176dfd3b410a7",
        "identitySelector": "4c5c4259b27b7979",
        "channelSelector": "95a7c9887a800091",
        "sendTransactions": "true",
        "checkpointerPath": "./local-env/test-config/checkpointer-tx1.ser",
        "x": 100,
        "y": 520,
        "wires": [
            [
                "26d8e3a82dcc4220",
                "9a819be0e7c1d60a"
            ]
        ]
    },
    {
        "id": "20a2c66d54f16e3d",
        "type": "change",
        "z": "6c6e63a00c517697",
        "name": "0003HRH",
        "rules": [
            {
                "t": "set",
                "p": "payload.transaction.args",
                "pt": "msg",
                "to": "[\"0003HRH\", \"Focus\",\"Ford\",\"Red\",\"Yo\"]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 160,
        "wires": [
            [
                "aee187ea32a2f54f"
            ]
        ]
    },
    {
        "id": "0795798652624904",
        "type": "change",
        "z": "6c6e63a00c517697",
        "name": "0004HRH",
        "rules": [
            {
                "t": "set",
                "p": "payload.transaction.args",
                "pt": "msg",
                "to": "[\"0004HRH\", \"Focus\",\"Ford\",\"Red\",\"Yo\"]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 180,
        "wires": [
            [
                "aee187ea32a2f54f"
            ]
        ]
    },
    {
        "id": "648624d2e688a72e",
        "type": "change",
        "z": "6c6e63a00c517697",
        "name": "0005HRH",
        "rules": [
            {
                "t": "set",
                "p": "payload.transaction.args",
                "pt": "msg",
                "to": "[\"0005HRH\", \"Focus\",\"Ford\",\"Red\",\"Yo\"]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 200,
        "wires": [
            [
                "aee187ea32a2f54f"
            ]
        ]
    },
    {
        "id": "26d8e3a82dcc4220",
        "type": "fabric-block-listener-commit",
        "z": "6c6e63a00c517697",
        "name": "",
        "x": 510,
        "y": 460,
        "wires": []
    },
    {
        "id": "7a838ee205893b44",
        "type": "catch",
        "z": "6c6e63a00c517697",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 100,
        "y": 60,
        "wires": [
            [
                "71dc0dbe6384a169"
            ]
        ]
    },
    {
        "id": "4f8cd8ba32a6e2b8",
        "type": "fabric-channel-info",
        "z": "6c6e63a00c517697",
        "name": "Get Channel Info",
        "gatewaySelector": "351176dfd3b410a7",
        "identitySelector": "4c5c4259b27b7979",
        "channelSelector": "95a7c9887a800091",
        "x": 490,
        "y": 320,
        "wires": [
            [
                "7e279e342ca57abf"
            ]
        ]
    },
    {
        "id": "1aa3acbcccc9f71a",
        "type": "debug",
        "z": "6c6e63a00c517697",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 260,
        "wires": []
    },
    {
        "id": "71dc0dbe6384a169",
        "type": "debug",
        "z": "6c6e63a00c517697",
        "name": "debug error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 60,
        "wires": []
    },
    {
        "id": "91cc936434aa0392",
        "type": "inject",
        "z": "6c6e63a00c517697",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 320,
        "wires": [
            [
                "4f8cd8ba32a6e2b8"
            ]
        ]
    },
    {
        "id": "7e279e342ca57abf",
        "type": "debug",
        "z": "6c6e63a00c517697",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload.result.chainInfo.height",
        "statusType": "msg",
        "x": 700,
        "y": 320,
        "wires": []
    },
    {
        "id": "b50bff98d7b19767",
        "type": "debug",
        "z": "6c6e63a00c517697",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 400,
        "wires": []
    },
    {
        "id": "9a819be0e7c1d60a",
        "type": "debug",
        "z": "6c6e63a00c517697",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 520,
        "wires": []
    },
    {
        "id": "ef570186216b3207",
        "type": "fabric-metadata",
        "z": "6c6e63a00c517697",
        "name": "Chaincode Metadata",
        "gatewaySelector": "351176dfd3b410a7",
        "identitySelector": "4c5c4259b27b7979",
        "channelSelector": "95a7c9887a800091",
        "x": 500,
        "y": 580,
        "wires": [
            [
                "2c4853aacdbdef13"
            ]
        ]
    },
    {
        "id": "2c4853aacdbdef13",
        "type": "debug",
        "z": "6c6e63a00c517697",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 580,
        "wires": []
    },
    {
        "id": "5f5a059249271359",
        "type": "inject",
        "z": "6c6e63a00c517697",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 580,
        "wires": [
            [
                "ef570186216b3207"
            ]
        ]
    },
    {
        "id": "2ec94290e2c7ec7c",
        "type": "fabric-block-info",
        "z": "6c6e63a00c517697",
        "name": "Get Block By Number",
        "method": "number",
        "gatewaySelector": "351176dfd3b410a7",
        "identitySelector": "4c5c4259b27b7979",
        "channelSelector": "95a7c9887a800091",
        "blockNumber": "3",
        "blockHash": "",
        "txId": "",
        "x": 500,
        "y": 660,
        "wires": [
            [
                "863543ac8b5745df"
            ]
        ]
    },
    {
        "id": "097b8282bc982e17",
        "type": "inject",
        "z": "6c6e63a00c517697",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 660,
        "wires": [
            [
                "2ec94290e2c7ec7c"
            ]
        ]
    },
    {
        "id": "863543ac8b5745df",
        "type": "debug",
        "z": "6c6e63a00c517697",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 660,
        "wires": []
    }
]