local-env/flows.json
[
    {
        "id": "6c6e63a00c517697",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "abafb1d456037c1e",
        "type": "fabric-peer",
        "name": "Peer 1",
        "url": "nodered-testpeer-api.127-0-0-1.nip.io:9999",
        "grpcOptions": "{\n    \"grpc.default_authority\": \"nodered-testpeer-api.127-0-0-1.nip.io:9999\",\n    \"grpc.ssl_target_name_override\": \"nodered-testpeer-api.127-0-0-1.nip.io\"\n}"
    },
    {
        "id": "6d028d5a40c2b6e8",
        "type": "fabric-mspid",
        "name": "Node Red Test MSP",
        "mspId": "noderedtestMSP"
    },
    {
        "id": "351176dfd3b410a7",
        "type": "fabric-gateway",
        "name": "GW",
        "mspIdSelectorGw": "6d028d5a40c2b6e8",
        "peerSelectorGw": "abafb1d456037c1e"
    },
    {
        "id": "4c5c4259b27b7979",
        "type": "fabric-identity",
        "name": "nodered-test Admin",
        "mspIdSelector": "6d028d5a40c2b6e8",
        "certType": "microfab",
        "cert": "LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUI0RENDQVlXZ0F3SUJBZ0lSQVBoMy9Qa2U3NGZIK0hPZFB3NE5EcXN3Q2dZSUtvWkl6ajBFQXdJd0dqRVkKTUJZR0ExVUVBeE1QYm05a1pYSmxaQzEwWlhOMElFTkJNQjRYRFRJek1EY3dOVEUwTlRjMU1Gb1hEVE16TURjdwpNakUwTlRjMU1Gb3dMVEVPTUF3R0ExVUVDeE1GWVdSdGFXNHhHekFaQmdOVkJBTVRFbTV2WkdWeVpXUXRkR1Z6CmRDQkJaRzFwYmpCWk1CTUdCeXFHU000OUFnRUdDQ3FHU000OUF3RUhBMElBQkxiQ040VnBDOER3dGxiL1N4ZlAKa2RTZkE3NDc3NURXampSNlpsWkQvS0F2aHhodXRXcWp0MmJJWDFHb2hrYVdpYnNwM1ZRWDJiUWRYVVBPVWVLQworSUtqZ1pnd2daVXdEZ1lEVlIwUEFRSC9CQVFEQWdXZ01CMEdBMVVkSlFRV01CUUdDQ3NHQVFVRkJ3TUNCZ2dyCkJnRUZCUWNEQVRBTUJnTlZIUk1CQWY4RUFqQUFNQ2tHQTFVZERnUWlCQ0FzZFhQbU5UU0JMVmxYZFMvMlFDQXgKOXo1V0cxMzBDeWVvV3c5YU5ZcFpwekFyQmdOVkhTTUVKREFpZ0NESTF3WllvZkltUTNqRmRRNWFKUXRnMmd1NwpkZUp6Sk10VXUybitMWFp3U2pBS0JnZ3Foa2pPUFFRREFnTkpBREJHQWlFQWxqejJLczgvSS9ydWNDWmtHZjZCCmtSK0RXc0x3ZStCY09qYUtCN0ZoUTMwQ0lRREdUUXh0a1RYK0MzYXA1MWJCajJ3KzNhNFZ2YVlPb0Mwb0t2dTAKaDBQUmRBPT0KLS0tLS1FTkQgQ0VSVElGSUNBVEUtLS0tLQo=",
        "privateKey": "LS0tLS1CRUdJTiBQUklWQVRFIEtFWS0tLS0tCk1JR0hBZ0VBTUJNR0J5cUdTTTQ5QWdFR0NDcUdTTTQ5QXdFSEJHMHdhd0lCQVFRZ1lKdzhBbVY4ZTBFZEV1VzUKeWQ0UHVNR3VKV25kenYvaGtjOTBGNXl3Vjl5aFJBTkNBQVMyd2plRmFRdkE4TFpXLzBzWHo1SFVud08rTysrUQoxbzQwZW1aV1EveWdMNGNZYnJWcW83ZG15RjlScUlaR2xvbTdLZDFVRjltMEhWMUR6bEhpZ3ZpQwotLS0tLUVORCBQUklWQVRFIEtFWS0tLS0tCg==",
        "ca": "LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUJvVENDQVVhZ0F3SUJBZ0lSQVBKUTR4K1dtbkpLTXZCLzU4T0lRd2N3Q2dZSUtvWkl6ajBFQXdJd0dqRVkKTUJZR0ExVUVBeE1QYm05a1pYSmxaQzEwWlhOMElFTkJNQjRYRFRJek1EY3dOVEUwTlRjMU1Gb1hEVE16TURjdwpNakUwTlRjMU1Gb3dHakVZTUJZR0ExVUVBeE1QYm05a1pYSmxaQzEwWlhOMElFTkJNRmt3RXdZSEtvWkl6ajBDCkFRWUlLb1pJemowREFRY0RRZ0FFaURheGdQK1BQSVc1a2txM3V5VXlrcWZHWGlWTjJWaUU0aHFWQVBCKzFDYkQKYzFhVy9tUElCaUtaWXZQclZFV3lZVUNyV055TldzOHBMVHdWOGpuaGthTnRNR3N3RGdZRFZSMFBBUUgvQkFRRApBZ0dtTUIwR0ExVWRKUVFXTUJRR0NDc0dBUVVGQndNQ0JnZ3JCZ0VGQlFjREFUQVBCZ05WSFJNQkFmOEVCVEFECkFRSC9NQ2tHQTFVZERnUWlCQ0RJMXdaWW9mSW1RM2pGZFE1YUpRdGcyZ3U3ZGVKekpNdFV1Mm4rTFhad1NqQUsKQmdncWhrak9QUVFEQWdOSkFEQkdBaUVBdWtRaFFjTDdneUVERTZHaERhb0ptS055MDJQRzlxV2RTR0NRb3grTQo2QUVDSVFESmpJd1Q5Tm4zcWFoQ2FEOVJaUk1rZ2lYaXdkMVlMVE9wQ3JFUW9RdThvZz09Ci0tLS0tRU5EIENFUlRJRklDQVRFLS0tLS0K",
        "certPath": "./config/identity.pem",
        "privateKeyPath": "./config/identity.key",
        "microfabUrl": "http://client.127-0-0-1.nip.io:9999",
        "microfabId": "nodered-testadmin"
    },
    {
        "id": "95a7c9887a800091",
        "type": "fabric-channel",
        "name": "",
        "channel": "nodered-test"
    },
    {
        "id": "5f1b46cce5ffeabb",
        "type": "fabric-contract",
        "name": "",
        "contract": "fabcar"
    },
    {
        "id": "6e8b76b1d125d156",
        "type": "fabric-block-listener",
        "z": "6c6e63a00c517697",
        "d": true,
        "name": "",
        "gatewaySelector": "351176dfd3b410a7",
        "identitySelector": "4c5c4259b27b7979",
        "channelSelector": "95a7c9887a800091",
        "sendTransactions": false,
        "firstBlock": "0",
        "checkpointerPath": "./local-env/test-config/checkpointer.ser",
        "x": 120,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "49e07fc08a0eb269",
        "type": "fabric-block-listener-commit",
        "z": "6c6e63a00c517697",
        "name": "",
        "x": 590,
        "y": 480,
        "wires": []
    },
    {
        "id": "b1e8a613eaf9f54e",
        "type": "delay",
        "z": "6c6e63a00c517697",
        "name": "",
        "pauseType": "delay",
        "timeout": "50",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 330,
        "y": 480,
        "wires": [
            [
                "49e07fc08a0eb269"
            ]
        ]
    },
    {
        "id": "aa14e906f3bb4221",
        "type": "delay",
        "z": "6c6e63a00c517697",
        "name": "",
        "pauseType": "delay",
        "timeout": "200",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 330,
        "y": 560,
        "wires": [
            [
                "49e07fc08a0eb269"
            ]
        ]
    },
    {
        "id": "1118d44d3aa2895d",
        "type": "inject",
        "z": "6c6e63a00c517697",
        "name": "Inject Car",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"transactionArgs\": []}",
        "payloadType": "json",
        "x": 120,
        "y": 60,
        "wires": [
            [
                "d487177454017313",
                "dff29e2564453d83",
                "20a2c66d54f16e3d",
                "0795798652624904",
                "648624d2e688a72e",
                "0c46ed7558f50a96",
                "f947a0fb3867ef1c",
                "b7e8d5984f4ba04e",
                "8bfc25a5bd59447e",
                "e442f3f6d8ac1daa",
                "ca1c01e718670dcf",
                "ebc6a1a89b73f9c1",
                "ff60246bd9c6f045",
                "4fed1baefc1414b7",
                "1ad869cd75eec21e"
            ]
        ]
    },
    {
        "id": "aee187ea32a2f54f",
        "type": "fabric-cc-submit",
        "z": "6c6e63a00c517697",
        "name": "Submit Car",
        "gatewaySelector": "351176dfd3b410a7",
        "identitySelector": "4c5c4259b27b7979",
        "channelSelector": "95a7c9887a800091",
        "contractSelector": "5f1b46cce5ffeabb",
        "transaction": "CreateCar",
        "args": "",
        "x": 470,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "4f7463d7aa133df3",
        "type": "debug",
        "z": "6c6e63a00c517697",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 140,
        "wires": []
    },
    {
        "id": "a800c7f70cdc2c4b",
        "type": "fabric-cc-evaluate",
        "z": "6c6e63a00c517697",
        "name": "Query All Cars",
        "gatewaySelector": "351176dfd3b410a7",
        "identitySelector": "4c5c4259b27b7979",
        "channelSelector": "95a7c9887a800091",
        "contractSelector": "5f1b46cce5ffeabb",
        "transaction": "QueryAllCars",
        "args": "",
        "x": 480,
        "y": 400,
        "wires": [
            [
                "4f7463d7aa133df3"
            ]
        ]
    },
    {
        "id": "ac7dc754347f81fd",
        "type": "inject",
        "z": "6c6e63a00c517697",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 400,
        "wires": [
            [
                "a800c7f70cdc2c4b"
            ]
        ]
    },
    {
        "id": "d487177454017313",
        "type": "change",
        "z": "6c6e63a00c517697",
        "name": "0001HRH",
        "rules": [
            {
                "t": "set",
                "p": "payload.transactionArgs",
                "pt": "msg",
                "to": "[\"0001HRH\", \"Focus\",\"Ford\",\"Red\",\"Yo\"]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 60,
        "wires": [
            [
                "aee187ea32a2f54f"
            ]
        ]
    },
    {
        "id": "dff29e2564453d83",
        "type": "change",
        "z": "6c6e63a00c517697",
        "name": "0002HRH",
        "rules": [
            {
                "t": "set",
                "p": "payload.transactionArgs",
                "pt": "msg",
                "to": "[\"0002HRH\", \"Focus\",\"Ford\",\"Red\",\"Yo\"]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 80,
        "wires": [
            [
                "aee187ea32a2f54f"
            ]
        ]
    },
    {
        "id": "adcd7d91b29959df",
        "type": "fabric-block-listener",
        "z": "6c6e63a00c517697",
        "name": "",
        "gatewaySelector": "351176dfd3b410a7",
        "identitySelector": "4c5c4259b27b7979",
        "channelSelector": "95a7c9887a800091",
        "sendTransactions": true,
        "firstBlock": "0",
        "checkpointerPath": "./local-env/test-config/checkpointer-tx.ser",
        "x": 120,
        "y": 560,
        "wires": [
            [
                "aa14e906f3bb4221",
                "47ee8363bf885a89",
                "3e40397cda4815cd",
                "4f7463d7aa133df3"
            ]
        ]
    },
    {
        "id": "20a2c66d54f16e3d",
        "type": "change",
        "z": "6c6e63a00c517697",
        "name": "0003HRH",
        "rules": [
            {
                "t": "set",
                "p": "payload.transactionArgs",
                "pt": "msg",
                "to": "[\"0003HRH\", \"Focus\",\"Ford\",\"Red\",\"Yo\"]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 100,
        "wires": [
            [
                "aee187ea32a2f54f"
            ]
        ]
    },
    {
        "id": "0795798652624904",
        "type": "change",
        "z": "6c6e63a00c517697",
        "name": "0004HRH",
        "rules": [
            {
                "t": "set",
                "p": "payload.transactionArgs",
                "pt": "msg",
                "to": "[\"0004HRH\", \"Focus\",\"Ford\",\"Red\",\"Yo\"]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 120,
        "wires": [
            [
                "aee187ea32a2f54f"
            ]
        ]
    },
    {
        "id": "648624d2e688a72e",
        "type": "change",
        "z": "6c6e63a00c517697",
        "name": "0005HRH",
        "rules": [
            {
                "t": "set",
                "p": "payload.transactionArgs",
                "pt": "msg",
                "to": "[\"0005HRH\", \"Focus\",\"Ford\",\"Red\",\"Yo\"]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 140,
        "wires": [
            [
                "aee187ea32a2f54f"
            ]
        ]
    },
    {
        "id": "0c46ed7558f50a96",
        "type": "change",
        "z": "6c6e63a00c517697",
        "name": "0006HRH",
        "rules": [
            {
                "t": "set",
                "p": "payload.transactionArgs",
                "pt": "msg",
                "to": "[\"0006HRH\", \"Focus\",\"Ford\",\"Red\",\"Yo\"]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 160,
        "wires": [
            [
                "aee187ea32a2f54f"
            ]
        ]
    },
    {
        "id": "f947a0fb3867ef1c",
        "type": "change",
        "z": "6c6e63a00c517697",
        "name": "0007HRH",
        "rules": [
            {
                "t": "set",
                "p": "payload.transactionArgs",
                "pt": "msg",
                "to": "[\"0007HRH\", \"Focus\",\"Ford\",\"Red\",\"Yo\"]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 180,
        "wires": [
            [
                "aee187ea32a2f54f"
            ]
        ]
    },
    {
        "id": "b7e8d5984f4ba04e",
        "type": "change",
        "z": "6c6e63a00c517697",
        "name": "0008HRH",
        "rules": [
            {
                "t": "set",
                "p": "payload.transactionArgs",
                "pt": "msg",
                "to": "[\"0008HRH\", \"Focus\",\"Ford\",\"Red\",\"Yo\"]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 200,
        "wires": [
            [
                "aee187ea32a2f54f"
            ]
        ]
    },
    {
        "id": "8bfc25a5bd59447e",
        "type": "change",
        "z": "6c6e63a00c517697",
        "name": "0009HRH",
        "rules": [
            {
                "t": "set",
                "p": "payload.transactionArgs",
                "pt": "msg",
                "to": "[\"0009HRH\", \"Focus\",\"Ford\",\"Red\",\"Yo\"]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 220,
        "wires": [
            [
                "aee187ea32a2f54f"
            ]
        ]
    },
    {
        "id": "e442f3f6d8ac1daa",
        "type": "change",
        "z": "6c6e63a00c517697",
        "name": "0010HRH",
        "rules": [
            {
                "t": "set",
                "p": "payload.transactionArgs",
                "pt": "msg",
                "to": "[\"0010HRH\", \"Focus\",\"Ford\",\"Red\",\"Yo\"]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 240,
        "wires": [
            [
                "aee187ea32a2f54f"
            ]
        ]
    },
    {
        "id": "ca1c01e718670dcf",
        "type": "change",
        "z": "6c6e63a00c517697",
        "name": "0011HRH",
        "rules": [
            {
                "t": "set",
                "p": "payload.transactionArgs",
                "pt": "msg",
                "to": "[\"00011HRH\", \"Focus\",\"Ford\",\"Red\",\"Yo\"]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 260,
        "wires": [
            [
                "aee187ea32a2f54f"
            ]
        ]
    },
    {
        "id": "ebc6a1a89b73f9c1",
        "type": "change",
        "z": "6c6e63a00c517697",
        "name": "0012HRH",
        "rules": [
            {
                "t": "set",
                "p": "payload.transactionArgs",
                "pt": "msg",
                "to": "[\"0012HRH\", \"Focus\",\"Ford\",\"Red\",\"Yo\"]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 280,
        "wires": [
            [
                "aee187ea32a2f54f"
            ]
        ]
    },
    {
        "id": "ff60246bd9c6f045",
        "type": "change",
        "z": "6c6e63a00c517697",
        "name": "0013HRH",
        "rules": [
            {
                "t": "set",
                "p": "payload.transactionArgs",
                "pt": "msg",
                "to": "[\"0013HRH\", \"Focus\",\"Ford\",\"Red\",\"Yo\"]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 300,
        "wires": [
            [
                "aee187ea32a2f54f"
            ]
        ]
    },
    {
        "id": "4fed1baefc1414b7",
        "type": "change",
        "z": "6c6e63a00c517697",
        "name": "0014HRH",
        "rules": [
            {
                "t": "set",
                "p": "payload.transactionArgs",
                "pt": "msg",
                "to": "[\"0014HRH\", \"Focus\",\"Ford\",\"Red\",\"Yo\"]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 320,
        "wires": [
            [
                "aee187ea32a2f54f"
            ]
        ]
    },
    {
        "id": "47ee8363bf885a89",
        "type": "delay",
        "z": "6c6e63a00c517697",
        "name": "",
        "pauseType": "delay",
        "timeout": "1000",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 340,
        "y": 620,
        "wires": [
            [
                "49e07fc08a0eb269"
            ]
        ]
    },
    {
        "id": "3e40397cda4815cd",
        "type": "delay",
        "z": "6c6e63a00c517697",
        "name": "",
        "pauseType": "delay",
        "timeout": "2000",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 340,
        "y": 680,
        "wires": [
            [
                "49e07fc08a0eb269"
            ]
        ]
    },
    {
        "id": "1ad869cd75eec21e",
        "type": "change",
        "z": "6c6e63a00c517697",
        "name": "0015HRH",
        "rules": [
            {
                "t": "set",
                "p": "payload.transactionArgs",
                "pt": "msg",
                "to": "[\"0015HRH\", \"Focus\",\"Ford\",\"Red\",\"Yo\"]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 340,
        "wires": [
            [
                "aee187ea32a2f54f"
            ]
        ]
    }
]